# Cpp custom snippets
snippet ard "Arduino standard layout."
    #include "Arduino.h"
    ${3}
    void setup() {
        ${1:Insert initial configurations here.}
    }

    void loop() {
        ${2:Insert routinary code here.}
    }
